@import url('https://fonts.googleapis.com/css?family=Muli');

body, html {
	height: 100%;
	margin: 0;
}

* {
	font-family: 'Muli', sans-serif;
}

h1 {
	font-size: 50px;
}

.background-img {
	background-image: url("background2.jpg");
	filter: blur(5px); 
	position: fixed;
	size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	left: -1%;
	right: -1%;
	top: -1%;
	bottom: -1%;
	display: block;
	width: 105%;
	height: 105%;
}

.bg-text {
	background-color: rgba(0,0,0,0.6);
	color: #ffffff;
	border: 5px solid #ffffff;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 700px;
	padding: 10px;
	text-align: center;
	transform: translate(-50%,-50%);
	z-index: 1;
}

.sidebar {
	height: 100%;
	width: 0; /* changed in js */
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0,0.8);
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}

.sidebar a {
	padding: 8px 8px 8px 32px;
	font-size: 25px;
	color: rgb(30,30,30);
	display: block;
	transition: 0.3s;
}

.sidebar a:hover {
	color: rgb(255,255,255);
}

.sidebar a:click {
	color:rgb(100,100,100);
}

.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

#main {
	transition: margin-left 0.5s;
	padding: 20px;
}

@media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
	.sidebar a {font-size: 18px;}
}

.sidebar-open p {
	color: #BAEBFF;
}

