---
---

@import "{{ site.theme }}";

body, html{
	height: 100%;
 }

 .bg-image {
 	background-image: url(main-background.jpeg);
 	filter: blur(5px);
 	height: 100%;
 	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}